{% extends "index.html" %}

{% block title %}
search_by_name_successful
{% endblock %}

{% block main %}
<div class="bg-container">
    <img id="bg" src="/static/rectorat_ub21.png" alt="background"> 
    <form action="/byname2" method="post" >
        <div class="message-container">
            <div class="bot_message">
                <img src="/static/logo.png" alt="Logo" class="message-image">
                <div class="message">
            Welcome to our student search feature! Here, you can easily find a student in the university by choosing one of the searching methods:
                </div>
            </div>    
            <div class="user_message">
                <div class="message">
                {% if data_array_length == 5 and name and department and major and group_id and number %}
                    Name: {{ name }}|
                    Department: {{ department }} |
                    Major: {{ major }} |
                    Group: {{ group_id }}|
                    Number: {{ number }}
                {% else %}
                    {% if data_array_length == 4 %}
                        {% if route_name == "chinageavant4" %}
                            Department: {{ department }} |
                            Major: {{ major }} |
                            Group: {{ group_id }}|
                            Number: {{ number }}
                        {% elif route_name == "chinageavant3" %}
                            Department: {{ department }} |
                            Major: {{ major }} |
                            Group: {{ group_id }}
                        {% elif route_name == "chinageavant2" %}
                            Department: {{ department }} |
                            Major: {{ major }}
                        {% elif route_name == "chinageavant1" %}
                            Department: {{ department }}
                        {% elif route_name == "validation" %}
                            Name: {{ name }}|
                            Department: {{ department }} |
                            Major: {{ major }} |
                            Group: {{ group_id }}
                        {% endif %}
                    {% elif data_array_length == 3 and name and department and major %}
                        Name: {{ name }}|
                        Department: {{ department }} |
                        Major: {{ major }}     
                    {% elif data_array_length == 2 and name and department %}
                        Name: {{ name }}|
                        Department: {{ department }}
                    {% elif data_array_length == 1 and name and department and major and group_id and number and image %}
                        Name: {{ name }}|
                        Department: {{ department }} |
                        Major: {{ major }} |
                        Group: {{ group_id }}|
                        Number: {{ number }} 
                    {% endif %}
                {% endif %}
                </div>
                <img src="/static/avatar.png" alt="Logo" class="message-image">
            </div>  
            <div class="bot_message">
                <img src="/static/logo.png" alt="Logo" class="message-image">
                <div class="message_success typing-effect" id="message-content">
                {% if data_array_length == 5 and name and department and major and group_id and number %}
                    The student information you are providing is accurate and valid.
                {% else %}
                    {% if data_array_length == 4 %}
                        {% if route_name == "chinageavant4" %}
                            {{ name }}
                        {% elif route_name == "chinageavant3" %}
                            The students you are seeking are:
                            <ul>
                                {% for name in names %}
                                    <li>{{ name }}</li>
                                {% endfor %}
                            </ul>
                        {% elif route_name == "chinageavant2" %}
                            The students you are seeking are:
                            <ul>
                                {% for name in names %}
                                    <li>{{ name }}</li>
                                {% endfor %}
                            </ul>
                        {% elif route_name == "chinageavant1" %}
                            The students you are seeking are:
                            <ul>
                                {% for name in names %}
                                    <li>{{ name }}</li>
                                {% endfor %}
                            </ul>
                        {% elif route_name == "validation" %}
                           The student information you are providing is accurate and valid.
                        {% endif %}    
                    {% elif data_array_length == 3 and name and department and major %}
                    The student information you are providing is accurate and valid.
                    {% elif data_array_length == 2 and name and department %}
                        The student information you are providing is accurate and valid.
                    {% elif data_array_length == 1 and name and department and major and group_id and number and image %}
                        Those are his/her characteristics:
                        <ul>
                            <li>Department: {{ department }}</li>
                            <li>Major: {{ major }}</li>
                            <li>Group: {{ group_id }}</li>
                            <li>Number: {{ number }}</li>
                        </ul>
                        <img src="{{ image }}" alt="Student Image">   
                    {% endif %}     
                {% endif %}
                </div>
            </div>  
        </div>
        <div id="empty">
            <a href="/byname2"><img src="/static/empty.png" alt="send"></a>
        </div>
        <div class="button-container">
            <div class="name-input">
                <input autocomplete="off" autofocus class="form-control" name="input" placeholder="Student Name, department, major, group_id, number" type="text">
            </div>
            <a href="/byname2"><i class="fa-solid fa-arrow-right"></i></a>         
        </div>
        <div id="send">
            <a href="/byname2"><img src="/static/arrow.png" alt="send"></a>
        </div>
    </form>    
</div>
{% endblock %}